			<section epub:type="chapter" id="start">
				<h1><%= chapter_title[0] %></h1>
				<h2>撰文：蕭雨  製作：杜林 詩喬</h2>
				<blockquote class="pullout">核心提示：漢藏關係惡化，解放軍備戰拉薩；達賴喇嘛初萌不歸意；武力是推動西藏改革的基石； 藏區改革激起強烈反彈；一次演出之約為何引起拉薩大亂；國家領導人出行為何不得帶警衛；"叛亂"是否由西藏地方政府製造的</blockquote>
				<p>1950年，中國軍隊佔領了西藏。次年5月，北京和西藏當局達成了和平解放西藏協議，史稱《十七條協議》。實現"和平解放"之後，北京和西藏之間曾經有過一段熱絡的關係。毛澤東同意，西藏的"民主改革"可以推遲六年，並推舉第十四世達賴喇嘛擔任全國人大副委員長。達賴喇嘛還親赴北京，與毛澤東、周恩來
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en01" id="ref01">（註 1 ）</a>
					</sup>
					等中共領導人有過融洽的會面。</p>
				<p>但到了1959年，西藏局勢突然緊張起來，導致一場傷亡慘重的流血衝突。中共稱之為"西藏平叛"，而藏人方面則把它叫作"和平抗暴"。達賴喇嘛，這位西藏領袖和中國的國家領導人，隨後被迫出走印度，開始了他長達半個多世紀的流亡生活。</p>
				<p>漢藏關係為何在短短幾年內就發生如此巨大的轉折？達賴喇嘛在接受"和平解放"和國家領導人的職位之後又為何要離開故土，流亡海外？中國官方多年來就這段歷史發表了大量的文章，但並未能對有關問題所涉及的要點提供可信的解釋。歷史之謎依然縈繞在人們的心頭。</p>
				
				<%- photo[1] %>

				<p>美國華人學者李江琳
					<sup epub:type="rearnote">
						<a href="backmatter.xhtml#en02" id="ref02">（註 2 ）</a>
					</sup>
					長期致力於這段歷史的研究。多年來，她查閱了大量的史料，走訪了在印度和尼泊爾的數百名流亡藏人，並和這段歷史的一位重要的當事人--達賴喇嘛有過五個小時的談話。她在2010年發表了專著《1959 拉薩！》一書。</p>
				
				<%- photo[2] %>

				<p>《解密時刻》主持人李肅和李江琳女士一起回顧這段歷史，梳理繁雜的歷史線索，探查歷史的真相。</p>
				<section epub:type="subchapter" id="part1">
					<h2><%= chapter_title[1] %></h2>
					<p>解說：1950年，解放軍進入西藏以後，達賴喇嘛仍然是西藏名義上的最高領導人，還先後擔任了中國全國人大常委會副委員長、西藏自治區籌備委員會主任委員等職。1954年，達賴喇嘛赴北京參加第一次全國人民代表大會，受到毛澤東、周恩來等中國最高領導人的高規格接待。與此同時，他與中國派駐西藏的高級軍政官員也有頻繁的接觸。然而，1959年3月10日，當他準備去西藏軍區司令部觀看一場演出時，卻遇到大批拉薩民眾的強烈阻攔。數以萬計的藏人包圍了達賴喇嘛的夏宮羅布林卡
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en03" id="ref03">（註 3）</a>
						</sup>
						，懇求他不要前往西藏軍區司令部。</p>
				
					<%- photo[3] %>

					<p>李肅：達賴喇嘛當時跟西藏軍區也好，跟中共在西藏的工作委員會也好，都應該有很多的聯繫。雙方應該有很多交流。看一場演出恐怕算不上一件不尋常的事情。再說，達賴喇嘛原來也去過北京。為甚麼這一次看演出就說不行了，為甚麼這一次就說當局要把他劫持到北京。以前他去北京，也沒人要劫持他啊？</p>
					<p>李江琳：其實你的這個問題也是我開始對整件事做詳細研究的一個切入點。我同樣有疑惑。為甚麼1954年他去北京的時候，拉薩市民沒有阻攔他。他們很擔心，但沒有阻攔。為甚麼到了1959年的時候，藏民玩了命地要阻攔他呢？</p>
					<p>實際上，後來我在訪談的時候也問過一些當事人。拉薩當時是怎麼樣的狀況？有必要理解這個事件的背景和當時拉薩所處的狀態。實際上，拉薩在1956年的時候，中共當局和西藏雙方的關係已經非常緊張了。</p>
					<p>達賴本人告訴我，他1957年從印度回來，4月份回到拉薩的時候，他發現大昭寺對面的中方機構的房頂上已經修築了工事。他走的時候還沒有。修築工事意味著甚麼呢？意味著備戰。</p>
					<p>李肅：準備打仗。</p>
					<p>李江琳：昌都（位於西藏東部）在1956年夏天開始有暴動，使得雙方關係一下子就變得非常緊張。解放軍馬上就開始備戰了。</p>
				</section>
				<section epub:type="subchapter" id="part2">
					<h2><%= chapter_title[2] %></h2>
					<p>解說：從上個世紀五十年代初開始，除藏區以外，中國大陸各地接二連三地展開了各種各樣的運動。從土地改革
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en04" id="ref04">（註 4）</a>
						</sup>
						到鎮壓反革命
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en05" id="ref05">（註 5）</a>
						</sup>
						，從農業合作化
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en06" id="ref06">（註 6）</a>
						</sup>
						到對農業、手工業以及資本主義工商業的社會主義改造
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en07" id="ref07">（註 7）</a>
						</sup>
						，一個接著一個，對中國的政治、經濟和社會產生了巨大的衝擊。中共通過這些運動完成了對土地和農業、社會、以及工業生產和經濟的控制。到了1956年，信心滿滿的中共開始在西藏周圍的青海、四川、雲南和甘肅四省藏區推行這些政治和經濟政策。</p>
					<p>雖然這些政策尚未在西藏實施，但西藏的藏人已經感到非常緊張，感到極大反感，並進行了激烈抵抗。就是在這種形勢下，21歲的達賴喇嘛於1956年第一次出訪印度，參加佛祖釋加牟尼2500 年誕辰慶典。在達賴喇嘛動身前往印度的5天前，毛澤東在中共八屆二中全會上指示中共西藏工作委員會和西藏軍區說："要估計到達賴喇嘛可能不回國，"要進行備戰。毛澤東說："把堡壘修起來，把糧食、水多搞一點。"</p>
				
					<%- photo[4] %>

					<p>李江琳：達賴喇嘛也的確有這個意思。印度總理尼赫魯
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en08" id="ref08">（註 8）</a>
						</sup>
						的情報局長在70年代的時候出版過一套回憶錄。根據書裡的資料，達賴喇嘛的二哥嘉樂頓珠
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en09" id="ref09">（註 9）</a>
						</sup>
						當時通過這位情報局長轉達了達賴喇嘛的意思，說他有意留在印度，不回西藏了。</p>
					<p>李肅：究竟是甚麼事情讓達賴喇嘛在1956年產生了這個想法，不想從印度回來了？</p>
					<p>李江琳：簡單地說是發生了戰爭。為甚麼我說它是戰爭，而不是鎮壓呢？因為中共當局不是動用警察，而是用了正規軍，而且是野戰軍。最早發生暴動的是雲南迪慶，現在的香格里拉那一帶。我們現在能夠看到這方面的資料，但是有關的資料非常少，我只找到了德慶縣的一些資料。</p>
					<p>到了1956年2月在（四川）甘孜州的色達縣，也就是現在發生過藏人自焚的色達縣，一個純牧區，也發生了藏人的暴動。四川和雲南當局對藏民的反抗進行了鎮壓，轟炸寺廟等等，使得達賴喇嘛覺得他呆在西藏看來已經無能為力了。</p>
				</section>
				<section epub:type="subchapter" id="part3">
					<h2><%= chapter_title[2] %></h2>
					<p>李肅：藏民為甚麼要暴動呢？是甚麼樣的情況迫使他們來奮起反抗呢？</p>
					<p>李江琳：這就要談談"民主改革"
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en10" id="ref10">（註 10）</a>
						</sup>
						。我最早做研究的時候就注意到"民主改革"這個詞。它的內容是甚麼？我就開始調查"民主改革"。我們不管它叫甚麼，有多少名目，我們先要看看它的內容。</p>
					<p>李肅：從字面上講，"民主改革"聽起來不錯嘛。</p>
					<p>李江琳：對，字面上看上去是不錯。我想不通，既然民主改革是一件好事，大家為甚麼會不顧性命地去反抗呢? 當時藏人手裡可有槍。然後，我就去調查"民主改革"的內容和方式，發現它跟內地進行的土改、鎮反和肅反、合作化其實完全一樣，沒有甚麼區別。方法也一樣，就是搞批鬥。</p>
					<p>藏語裡面沒有"鬥爭會"這個詞。藏語只能夠通過音譯製造出"鬥爭"這麼個詞。鬥爭這種行為，開鬥爭會這種行為對藏人來講是完全不可接受的。</p>
					<p>解說：李江琳在《 1959拉薩！》中寫道："就在所謂的'民主改革'實行後不久，整個四川藏區農牧區的抗爭此起彼伏。僅1956年一年，當地少數民族地區暴動的參與者就達10萬餘人，波及43個縣，450多個鄉，數萬藏民逃往拉薩。"</p>
					<p>李肅：毛澤東和其他的中共上層領導知不知道在藏區裡面進行的所謂"民主改革"激起了當地藏民的強烈反抗。他們知道這個情況嗎？</p>
					<p>李江琳：知道，非常清楚。</p>
					<p>李肅：他們很清楚？</p>
					<p>李江琳：轟炸理塘、鄉城、巴塘寺院的飛機是當時中國最先進的秘密武器。1953年斯大林送給毛澤東的10架圖-4。</p>
				
					<%- photo[5] %>

					<p>李肅 ：那是轟炸機了。</p>
					<p>李江琳：對，而且是遠程重型轟炸機，因為別的轟炸機上不了高原，航程短。到藏區執行任務必須是遠程飛機，還要能夠攜帶大量的集束炸彈。圖-4轟炸機團不是由地方軍區控制的，是由中央軍委直接控制的。也就是說，沒有中央軍委的命令，圖-4飛機是不能動用的。</p>
					<p>圖-4飛機第一次執行實彈作戰任務就是在藏區，在四川的甘孜地區。中央軍委下令不可能不經過中央。在甚麼情況下動用這個飛機，中央不可能不知道。</p>
					<p>解說：1956年，在印度的流亡藏人報紙《西藏鏡報》刊登了這樣一幅畫，描繪了四川理塘寺被轟炸的場面。英文和藏文說明寫道：他們使用現代化武器殺死了我們好幾千熱愛自由、勇敢、武器不足的康巴人，並且摧毀了寺院......。</p>
				
					<%- photo[6] %>

				</section>
				<section epub:type="subchapter" id="part4">
					<h2><%= chapter_title[4] %></h2>
					<p>李肅：中國官方，以毛澤東為首的中共上層曾經有過的觀點是和平改造。和平土改也好，社會改造也好，能行得通嗎？</p>
					<p>李江琳：他們在公開的檔案上是這麼說過。</p>
					<p>李肅：那麼，在秘密檔案中是否有另外的說法呢?</p>
					<p>李江琳：我們知道的就是《范明回憶錄》裡面他是講到過。他接到過張國華
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en11" id="ref11">（註 11）</a>
						</sup>
						從北京打來的秘密電話，是1955年下半年。那個時候毛澤東給西藏工委的指示是要開始在西藏實行民主改革，而且是建立在打的基礎上改。</p>
					<p>李肅：在1955年已經說了。</p>
					<p>李江琳：對，1955年下半年，大概11月左右吧，已經有了這樣的想法。</p>
					<p>李肅：但是，西藏週邊的省區進行的民主改革已經激起了藏人的不滿，對不對？</p>
					<p>李江琳：對。</p>
					<p>李肅：既然已經激起了這些反抗，為甚麼還想著要在西藏繼續推行這些東西呢？</p>
					<p>李江琳：這是北京的既定方針。1950年1月，毛澤東在莫斯科發出一個電報，是給彭德懷
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en12" id="ref12">（註 12）</a>
						</sup>
						等人和北京的（指中央其他領導人）。裡面就講到，西藏的人口雖然不多，但國際地位非常重要。我們必須加以佔領，並且改造成人民民主的西藏。也就是說西藏不僅是要佔領，還需要改造。</p>
					<p>這個改造勢必要進行。《十七條協議》
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en13" id="ref13">（註 13）</a>
						</sup>
						也提到了社會改造的問題，只是沒有詳細說怎麼改造，甚麼時候開始改造。對西藏進行社會改造這一點，從開始決定要佔領西藏一直到1959年，北京從來沒有改變過，沒有動搖過，只是說要注意改革的時機和改革的方式。</p>
					<p>但是後來推遲了改革，說是"六年不改"。這個"六年不改"有多重因素，其中有一個公開的因素，是為了爭取達賴喇嘛從印度回來。也就是說不是不做，只是延緩而已。</p>
				</section>
				<section epub:type="subchapter" id="part5">
					<h2><%= chapter_title[5] %></h2>
					<p>李肅：周恩來曾經去了印度，也是去訪問。在那期間，他跟達賴喇嘛面談了幾次，勸他回來。具體情況是甚麼樣的？</p>
					<p>李江琳：周恩來不僅跟達賴喇嘛談話，還跟他的哥哥、跟他的家人也談過話，這是達賴喇嘛的自傳裡寫到的。中方資料裡沒有提到過這些。達賴喇嘛的哥哥實際上是向周恩來提出了很多的抱怨，說你鎮壓藏人是不對的。周恩來對達賴喇嘛做了一些輕描淡寫的解釋，比如在理塘，解放軍被包圍了，我們去空投糧食，實際上空投的可不只是糧食。</p>
					<p>解說：2009年6月30日，達賴喇嘛在印度達蘭薩拉
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en14" id="ref14">（註 14）</a>
						</sup>
						接受李江琳專訪時回憶了50多年前在印度和周恩來的會晤。周恩來給他帶來了毛澤東"六年不改"的口信。</p>
					<p>達賴喇嘛說："1956年我在德里的時候，周恩來和賀龍
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en15" id="ref15">（註 15）</a>
						</sup>
						來看我。其實，本來他們可以透過印度政府，但是，他們來印度主要是為了見我。見我的時候，周恩來說：'毛澤東主席親自決定西藏的民主改革推遲六年，六年以後，甚麼時候改革，再去考慮。'"</p>
					<p>達賴喇嘛說，當時賀龍還親自到他在德里住的地方來，並對他說了這樣一番話："雪山獅子
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en16" id="ref16">（註 16）</a>
						</sup>
						如果在雪山上是獅子，但是這個獅子到了平地，會變成一條狗。"</p>
					<p>李江琳：總的說來，周恩來對他的談話就兩個精神。第一個是向他表示中央的態度：你們要叛亂，我們就堅決平叛，這是硬的一手。第二是軟的一手，就是我們可以承諾，我們六年不改。以後要改的話，一定經過你們的同意。同時他跟尼赫魯也有過兩次談話。周在這個談話中對尼赫魯也施加了一些壓力，胡羅卜加大棒，使得尼赫魯不願意接受達賴喇嘛的流亡。這時候，達賴喇嘛沒辦法，只有回去。</p>
				</section>
				<section epub:type="subchapter" id="part6">
					<h2><%= chapter_title[6] %></h2>
					<p>李肅：也就是說，當年中國上層的決策是用強力鎮壓來推行改革。</p>
					<p>李江琳：對。中國的民族政策在1958年"循化事件"
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en17" id="ref17">（註 17）</a>
						</sup>
						之後有一個重大改變。改變了原來一直都強調地方幹部要重視民族宗教問題的做法。到了1958年，政策、理論全變了，變成了民族問題的實質是階級鬥爭。當它被納入階級鬥爭的理論框架以後，所有的反抗、抵抗都被認為是叛匪。這種抵抗不一定是武裝抵抗，包括藏人逃亡。這就是說，我因不接受人民公社而趕著牲畜跑了，就可以認為是消極抵抗。只要是叛匪，就是階級敵人，於是消滅叛匪就是正當的。在這個理論框架下做出的相關解釋符合當局的思維方式。</p>
					<p>李肅：你剛才提到了一個青海省的"循化事件"，說在那個事件之後，政策有重大轉變。那是一個甚麼事件？為甚麼能夠造成政策的重大轉變呢？ 
						李江琳：循化不是一個藏族自治縣，而是一個撒拉族自治縣。它主要的居民是以信仰回教的，也就是伊斯蘭教的撒拉人為主，其中大約有兩萬居民是藏人。中共要開始在這些地方成立牧業合作社，因為農業合作社是第一步，牧業合作社是第二步。</p>
					<p>成立合作社的時候，他們要做的第一件事就是為了防止藏人的反抗，就把民族宗教上層人物用學習班、開會等等名義扣押起來。這時候他們扣押的一個重要人物是誰呢？是副縣長，我們不太準確的翻譯是活佛，或者是加乃化活佛
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en18" id="ref18">（註 18）</a>
						</sup>
						。這位活佛，藏語叫仁波切，他曾經當過幼年班禪喇嘛的老師。所以，他在藏人中有非常崇高的威望。他被叫進學習班裡面，被關起來了。</p>
					<p>藏人要求釋放這位活佛。大批的藏人、幾千人趕到縣城，把政府的大樓包圍起來，要求釋放他。同時撒拉族裡面有大概兩個人組織了一些人。反抗合作化的撒拉族人也加入進來。這個過程出現了失控，發生了搶劫，土改工作組的組長被打死，發生了一些暴力事件。</p>
					<p>然後，青海省委就把這個當作一個叛亂來對待，於是派了兩個團的解放軍，有的說是一個團的民兵，一個團的解放軍。總之，派出的武裝力量有兩個團，在半夜渡過黃河，把縣城包圍起來，然後就開槍。當時要求釋放仁波切的藏民實際上是沒有武器的。</p>
					<p>李肅：有多少人呢？</p>
					<p>李江琳：據說有幾千人。詳細的不是太清楚。這場被稱為平叛的戰鬥大概打了四個小時。解放軍打了四個小時才發現，對方根本沒有還擊能力，幾乎沒有還擊。這個事件過後，我們所看到的內部資料，這四個小時中，死傷人數有７００多，主要是藏人。</p>
					<p>當天下午立即就開始大搜捕。一個下午抓了２０００多人。其中主要是撒拉族人，也有好幾百藏人。這就是"循化事件"。"循化事件"裡有一個現像就是藏人和撒拉人死傷７００多。</p>
					<p>那麼中方死傷多少人呢？據我所知是７個，解放軍沒有傷亡。這就說明對方是沒有還擊能力的，死的是一些幹部和工作組的工作人員。他們是在戰鬥之前，不是在戰鬥過程中死亡的。所以，"循化事件"實際上是一場大屠殺。</p>
					<p>李肅：如果說"循化事件"中被打死的多數是平民，那麼，在藏區發生的鎮壓行動中被打死的是不是也是平民？還是說不是平民，而是真正的叛匪了？</p>
					<p>李江琳：我不用叛匪這種詞。我用的詞是武裝人員和非武裝人員。為甚麼用這個概念？藏人在歷史上一直是有武器的，尤其是牧民。牧民幾乎是每家都有槍。沒有槍就沒辦法生存。</p>
					<p>一家人出去放牧，他們叫做藏圈。有時也有幾戶人家一起的，直到現在還是這樣。方圓幾十裡地通常只有一戶人。他們在草原上放羊，或者放犛牛的時候，會遇到狼，必須要能夠保護自己。沒有武器，牧民很難生存。所以，藏民是家家有槍。</p>
					<p>歷史上還有部落間的衝突，甚至是武裝衝突。不是說解放軍來了，藏民才拿起槍。他們本來就有槍。那時候武器還沒有收繳。於是，有些部落進行了武裝抵抗。人少、槍少的部落會覺得自己無力反抗，就選擇了武裝逃亡。他們逃亡的時候，有解放軍在路上追擊。他們出於自保，會跟解放軍短暫交火。這種情況都有。</p>
					<p>但是，這些情況最後被一概稱為叛匪。被稱為叛匪的藏民居住的地區，有的被劃為"全叛區"，有的被劃為"半叛區"。"全叛區"的地方是格殺勿論，不論男女老少。還有一點，大部份人不是死於戰爭本身，而是死於監禁。戰場上抓的人後來全部被關進監獄。青海還有一個很惡劣的做法，叫防叛。</p>
					<p>李肅：防止叛亂。</p>
					<p>李江琳：一個部落即使繳了槍，當局也不肯放過。我表示我不打了，我也打不過。你要繳槍，我就繳槍，你要搞合作社，我就搞合作社。這也沒能倖免。</p>
					<p>李肅：順著政策走也不能倖免，是嗎？</p>
					<p>李江琳：是的，未能倖免。青海的很多部落，特別是像果洛和玉樹，被劃為"全叛區"。那裡18歲以上、60歲以下的成年男性被全部抓走。其中大批死於監獄。僅僅是1958年，當局在青海動用的飛機就有600多架次，其中相當一部份不是用於物資運輸，而是用於直接作戰，用於轟炸和掃射。</p>
					<p>到1959年3月，戰火實際上燒到了離拉薩只有100多公里的地方。</p>
				</section>
				<section epub:type="subchapter" id="part7">
					<h2><%= chapter_title[7] %></h2>
					<p>解說：儘管四省藏區的戰火還沒有燒到西藏，儘管中央政府向西藏保證"六年不改"，但是，從雲南、四川、甘肅和青海湧入西藏的大量難民還是把解放軍在週邊藏區大開殺戒的消息傳到了西藏僧俗民眾的耳中，拉薩彌漫著一種唇亡齒寒的空氣。達賴喇嘛就是在這種情況下準備前往西藏軍區看演出的。時值1959年3月。</p>
					<p>李肅：他去西藏軍區看演出這個事情是怎麼起來的呢？</p>
					<p>李江琳：究竟是誰邀請了達賴喇嘛？事情到目前還是有很多不同的說法，還是一個謎。 1959年2月7號是藏人傳統中的一個節日，是除夕的前一天，也就是春節的前兩天。這個節叫做驅鬼節。這一天他們習慣上是要跳羌姆，一種戴著面具的宗教舞蹈。</p>
					<p>自從1951年解放軍進入以後，每年他們在布達拉宮跳羌姆都會邀請中方的最高官員一起觀看，這個舞有宗教性質，也有文化性質。1959年驅鬼節的這一天正好是西曆的2月7日。</p>

					<%- photo[7] %>

					<p>那一天，張經武
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en19" id="ref19">（註 19）</a>
						</sup>
						和張國華都不在，所以西藏軍區政委譚冠三
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en20" id="ref20">（註 20）</a>
						</sup>
						是最高領導人。應邀參加觀看羌姆的是西藏軍區副司令員鄧少東
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en21" id="ref21">（註 21）</a>
						</sup>
						。他帶著西藏工委秘書長郭錫蘭
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en22" id="ref22">（註 22）</a>
						</sup>
						，兩個人去參加。邀請達賴喇嘛看演出的事就發生在兩方在觀看舞蹈的對話中。</p>

					<%- photo[8] %>

					<p>解說：1988年，前西藏噶廈政府
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en23" id="ref23">（註 23）</a>
						</sup>
						噶倫、前中國全國人大副委員長阿沛·阿旺晉美
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en24" id="ref24">（註 24）</a>
						</sup>
						在題為《1959年"3月10日事件"的真相》的文章中這樣寫道：</p>
					<p>"1959年（藏曆土豬年）'破九跳神大會'時，只有西藏軍區政委譚冠三和副司令員鄧少東在拉薩，他們應邀前往布達拉宮。達賴喇嘛在他的臥室會見他們時主動提出："聽說西藏軍區文工團在內地學習回來後演出的新節目很好，我想看一次，請你們給安排一下。"譚政委和鄧副司令員當即欣然應允，並告訴達賴喇嘛，這事很好辦，只要達賴喇嘛確定時間，軍區可以隨時派出文工團去羅布林卡為他演出專場。達賴喇嘛說，去羅布林卡不方便，那裡沒有舞台和設備，就在軍區禮堂演出，他去看。事情就這樣說定了。"</p>
					<p>李江琳：中方資料引用得比較多的是阿沛·阿旺晉美的說法。但是阿沛當時不在場。</p>
					<p>李肅：他不在場，並不知道當時到底說了甚麼。</p>
					<p>李江琳：對，他不在場。這個我特別向達賴喇嘛求證過。就是他當時在不在場。所以，對到底是誰邀請的這個問題，我的結論是，它是在一個閒談中，就像我和你聊天的過程中無意說出來的。說出來以後，當時並沒有決定日期，就是說有這麼一回事。達賴喇嘛當時在忙著考試，對於他來說，去看演出這件事當時不是一件很重要的事情。</p>
					<p>事後，他也沒有把這件事當成一個主要的事情。對這件事情反復強調的倒是中方的資料，反復強調這件事情是達賴喇嘛首先提出來的，但是它沒有講出看演出這個談話的全部過程。我認為連鄧少東本人都未必記得當時到底談了甚麼。他們說話是通過翻譯的。</p>
				</section>
				<section epub:type="subchapter" id="part8">
					<h2><%= chapter_title[8] %></h2>
					<p>李肅：在決定了達賴喇嘛要去軍區看這場演出之後，雙方的官員做了一些安排。在這些安排中，據藏人的說法，西藏軍區提出，達賴喇嘛到軍區來的時候不能帶警衛，尤其是不能帶有武器的警衛。這個說法是真實的嗎？</p>
					<p>李江琳：在藏方的資料中，這是一個普遍的說法，不止一個人，尤其直接當事人是達拉喇嘛的警衛團長。他被叫到軍區去，由鄧少東告訴他這個安排。從藏方的資料來看，這件事情應該發生過，因為不止達賴喇嘛本人，達賴喇嘛的警衛團長說過，其他的人也說過。這件事給他們的震動很大。那是達賴喇嘛第一次應邀到軍區去。</p>
					<p>李肅：哦，這是第一次到軍區。</p>
					<p>李江琳：對。他從來沒有去過軍區。我其實也想到，如果是籌委會邀請他，恐怕不會有這樣的事情。要到軍區去，不帶武器到軍區去，在當時處在幾乎是准戰爭狀態之中，這是很容易引起誤解的。</p>
					<p>李肅：這件事情中方有沒有承認過，我們是說不讓達賴喇嘛帶警衛來。中方的資料裡面有沒有說？</p>
					<p>李江琳：沒有。只有阿沛說過一句話，說境外藏人曾經有過這樣的說法。我的書裡對它有分析。阿沛並沒有否認帶不帶警衛這件事，他回避了。但是在這一點上，中方的資料中完全沒有提及達賴喇嘛如果去軍區的話，警衛怎麼安排。所有的中方資料中都沒有看見。</p>
					<p>解說：前西藏噶廈政府噶倫、前中國全國人大副委員長阿沛·阿旺晉美2009年在《1959年西藏叛亂真相》一文中這樣寫道："有的國外藏胞寫這一段歷史時候，又有這樣一種說法，說當時達賴喇嘛不去軍區觀看演出，是因為軍區提出達賴喇嘛來軍區看演出時，除了可帶私人工作人員和少部份警衛外，不再邀請其他隨行官員了。這是根本沒有的事情。按照常規，當時達賴喇嘛作為西藏的領袖，又是西藏自治區籌委會主任，外出參加活動怎麼可能不帶隨行官員和警衛人員? ！"</p>

					<%- photo[9] %>

					<p>李肅：根據你的調查，你認為當時西藏軍區是不是提出來不讓他帶警衛去？</p>
					<p>李江琳：有可能。因為我覺得藏人的回憶中它不是一個孤證。它是一個當事人、旁邊聽說的人和直接傳播消息的人都有這樣的說法。而且他們都認為達賴喇嘛去軍區不讓帶警衛是直接導致藏人認為中方有陰謀的一個主要根據。</p>
					<p>解說：達賴喇嘛在接受李江琳採訪時回憶說：9號的時候，藏軍團長和警衛部門的主要負責人代本
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en25" id="ref25">（註 25）</a>
						</sup>
						提前去查看我要去的地方，這是他的習慣。代本去了司令部那邊，去瞭解次日達賴喇嘛要去的具體地方和去的方法。代本去了司令部以後得到一個非常不好的信息，說到司令部之前有一座橋，有一條河。他們提議說，藏軍明天不能過這座橋。達賴喇嘛平時外出時有藏軍陪伴。藏軍不能過這座橋，要在橋那邊停下來。達賴喇嘛的警衛也不能帶槍，不能帶任何武器。</p>
					<p>李肅：當時達賴喇嘛有沒有對自己的安全問題表示過擔憂？不讓我帶警衛是不是有問題啊，我的安全會受到威脅啊，有這樣的想法嗎？</p>
					<p>李江琳：沒有。從資料看來，在警衛團長的回憶錄中，他提到，他回來以後向達賴喇嘛彙報不讓帶警衛的事。這件事情使他非常猶豫。他感覺不對。他向達賴喇嘛彙報的時候，達賴喇嘛猶疑了片刻，但認為沒關係，不會有甚麼情況。</p>
					<p>李肅：達賴喇嘛反倒認為是沒有問題？</p>
					<p>李江琳：對。達賴喇嘛認為不帶警衛這件事不會對他構成威脅。</p>
					<p>李肅：但是，這件事情對整個藏人的心理產生了很大的影響。</p>
					<p>李江琳：對。</p>
					<p>李肅：為甚麼呢？</p>
					<p>李江琳：因為類似的事件在1959年之前，在週邊四省的藏區—青海、四川、雲南和甘肅藏區普遍發生過。這個有一個記錄。李維漢
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en26" id="ref26">（註 26）</a>
						</sup>
						、楊靜仁
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en27" id="ref27">（註 27）</a>
						</sup>
						和汪鋒
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en28" id="ref28">（註 28）</a>
						</sup>
						他們三個人去甘肅和青海調查了1958年甘南藏民暴動原因。他們回來時給中央寫了一個報告。</p>
					<p>解說：這份1958年4月3日提交的報告說："解放以來，我們對藏人中的反革命分子還沒有開過殺戒。省委同志提出在這次平息叛亂中捉獲的叛亂頭人一律關起來，待叛亂平息後按情節輕重分別處理，情節較輕的一般不再給"官"坐（做），較重的判刑，首惡分子大張旗鼓地殺幾個。我們認為這樣做的時機現在已經成熟，甘南殺幾個，對藏人中的反動上層分子也是一個嚴厲的警告。"</p>
					<p>李江琳：這個報告被中央轉發到了各個民族地區，包括西藏，而且得到了執行。各個地區、各個縣執行了中央這個指示後，造成藏人極大的恐慌。各部落的大喇嘛、大頭人突然間都得到通知，邀請他們去看電影、看戲，參加學習班或者開會。他們去了以後就再也沒有回來。有的被扣押，有的被關進監獄，總之都不見了。</p>
					<p>所以，當達賴喇嘛被邀請去軍區，而且不能帶警衛的時候，藏人馬上就有聯想，認為這是同一件事情。發生在週邊四省的這些事情，由各地逃到拉薩的難民帶到拉薩。拉薩是路人皆知，大家都知道，各個地區發生過這樣的事情。這樣，1959年3月10號，達賴喇嘛要去看演出的時候，他們立刻想到西藏軍區是要用同樣的方式來誘捕達賴喇嘛。</p>
					<p>李肅：而且是不准帶警衛。</p>
					<p>李江琳：對，所以這裡面有它的一個內在邏輯。</p>
					<p>李肅：是不是可以這樣說，從中方讓達賴喇嘛去軍區看演出，到提出來不讓帶警衛，這可能都是陰謀的組成部份呢?</p>
					<p>李江琳：應該這麼說，1959年3月發生的拉薩事件，兩方都有一整套的陰謀論。雙方都認為對方是一個陰謀。但從目前我看到的資料中，都不能證實雙方有陰謀。</p>
					<p>李肅：也就是說，實際上你沒有證實任何一方有陰謀。</p>
					<p>李江琳：對。後來發生的是另外一回事。3月10號事件本身是一個突發事件。沒有任何足夠的、強有力的資料證明中方請達賴喇嘛是一個陰謀，或者藏人阻攔達賴喇嘛去軍區是一個預先安排好的陰謀。到目前為止，我認為，我看到的資料中都不足以證明這一點。</p>
				</section>
				<section epub:type="subchapter" id="part9">
					<h2><%= chapter_title[9] %></h2>
					<p>李肅：中國的官方史料裡還說了一個情況，當時西藏的地方政府，也就是噶廈政府，強令每一家、每一戶都必須至少出一個人去包圍達賴喇嘛的住處，阻止達賴喇嘛前往西藏軍區去看演出。有這個情況嗎？</p>
					<p>李江琳：是不是每家、每戶都要出人，我從許多藏人的說法、我自己的採訪、以及我看到的資料中得出的結論是，沒有這麼回事。他們說的是大家怎麼得到消息的，是通過口口相傳。有些人是在路上看到一大群人往那個方向走，他們就問，"你幹甚麼去？"人們說有這麼一件事情，於是他們也跟了過去。有些是在街上看見，也確實是有一些噶廈的下層官員帶了人去，這也確實是有的。</p>
					<p>李肅：中方的說法似乎是要證明這場所謂的暴亂、叛亂是有組織的，是由上層組織的，有預謀、有計劃的。你在調查研究的過程中有沒有發現是有組織的，哪怕是下層的官員進行有組織活動？</p>
					<p>李江琳：就3月10日這一天，數萬民眾到羅布林卡這一點上，有一定的組織。這個組織是怎麼開始的呢？是3月9號的晚上。我訪談的藏人參與者中，最早趕到羅布林卡的是3月9號晚上，是一些康巴人。他們最早聽說這個消息，也最早趕到。第二天是各種各樣的人。這僅僅是3月10號阻攔達賴喇嘛去軍區這件事情。這是有一定程度的組織。但是，並不是說從2月7號就開始了，因為2月7號的時候，達賴喇嘛還沒有決定哪一天去。</p>
					<p>李肅：實際上噶廈政府可能是在達賴喇嘛的指示下，宣佈達賴喇嘛不去軍區看演出了，因為幾萬民眾圍在那個地方不讓他去。他就決定不去了，而且宣佈了說我不去了，大家散去吧。這個情況是事實嗎？</p>
					<p>李江琳：是事實。這個不僅是我採訪的當事人，還是在宮牆外面的人，他們都說了有這麼回事，而且還告訴了我具體的地點。我問過他們很細節的問題，就是他出現是在甚麼地方。他們告訴我說，是羅布林卡宮殿的正門。門上面是可以上去的。門樓頂上拿了一個擴音器。在不同地點的人們都有這個說法。</p>
					<p>不過，最有力的資料是西藏軍區出版的這個資料集，叫《平息西藏叛亂》。裡面登載了一個噶廈工作日記，其中提到了這一點。</p>
					<p>李肅：這個日記是噶廈政府的日記，還是西藏軍區的日記？</p>
					<p>李江琳：是噶廈政府每天的工作日記。它在工作日記裡就提到了這一點。</p>
					<p>李肅：如果說圍困羅布林卡是下層人士有組織的活動的話，讓民眾散去實際上是上層人士主張的。</p>
					<p>李江琳：對。</p>
					<p>李肅：這個事實中國官方的史料裡面有記載嗎？</p>
					<p>李江琳：沒有。這也是我在研究的過程中發現的很多細節中的一個。關鍵的細節被忽略掉了，而且是被刪除掉了，歷史就變成另外一種樣子了。</p>
					<p>李肅：現在看來，當時的噶廈政府呼籲民眾散去並沒有產生效果。民眾沒有散去，對不對？</p>
					<p>李江琳：當時是沒有散。後來到下午的時候，據當事人講，很多住在拉薩的人就回家了。</p>
					<p>李肅：既然有很多人已經散去了，那個事件後來怎麼又激化了呢？</p>
					<p>李江琳：有部份人散去了。散去的大部份人，家就在拉薩。他們到傍晚的時候就回家了。但是，3月10號的事件發生在春節後不久，而且是在傳昭法會之後不久。直到現在都是這樣，每年到藏曆新年，原來是有傳昭大法會
						<sup epub:type="rearnote">
							<a href="backmatter.xhtml#en29" id="ref29">（註 29）</a>
						</sup>
						。這個法會是西藏最重要的節日。節日期間，有大量的人從其它地區來拉薩朝聖、聽經。這時候拉薩的人口一下會增加很多。</p>
					<p>3月10號出事的時候，為甚麼會有那麼多人？很多不是拉薩本地的，而是康區和四川逃過來的人。那時，四川的民眾跟中共當局之間的衝突已經有三年了。很多人逃到拉薩。有從青海來的，也有少部份人從藏東的安多地區來。這些人後來帶著帳篷在宮牆外面安營紮寨。他們在那裡堅持了10天。後來拉薩戰役中很多被打死的人都屬於這一類。</p>
					<p>李肅：這個事件後來發展到藏民們喊出了西藏獨立的口號，要求西藏獨立，要求漢人滾出去。怎麼激化到這個程度？</p>
					<p>李江琳：他們認為只要漢人在那裡，達賴喇嘛就不會安全。</p>
					<p>李肅：開始是不讓達賴喇嘛去，後來是公開地反漢人，反漢人的政府，要求西藏獨立，這個是怎麼變化的？</p>
					<p>李江琳：實際上，西藏獨立的觀念並不是一個新的觀念。它從十三世達賴喇嘛就開始了。但是它比較集中於精英層、官員層、受過教育的藏人中。他們有比較明確的觀念。並不是所有的人都有這樣的觀念。有一種說法是，西藏始終存在著"親漢派"和"親英派"，這種提法過於簡單。但它也顯示了一點，就是情況不是那麼簡單。</p>
					<p>在1959年3月10號這一天，由普通的民眾提出要求漢人離開，西藏要獨立，西藏是西藏人的。這個現像倒是的比較新。實際上很有意思的是，據我所知，當時西藏，至少在拉薩，少說也有兩個地下組織。地下組織的很多成員都是年輕人，也有些僧人，有些軍人，也有藏軍，也有一些噶廈的中下級官員，都不是上層。上層都是統戰對象，是既得利益者。</p>
					<p>李肅：也就是說，上層實際上對當時的現狀還挺滿意的，是這樣嗎？</p>
					<p>李江琳：對。他們沒有理由反對。我的書裡面用過一個數字。他們跟西藏貿易總公司做生意，貿易額很高。他們都富了。大洋滾滾而來。</p>
					<p>李肅：先富起來的是他們。</p>
					<p>李江琳：他們本來就富，然後就更富。所以，這些物價飛漲對他們並沒有傷害。傷害的是底層的人，中下層的人，特別是下層的人。這些人最後是拉薩事件以及各地反抗的主要力量。還有一個比較有意思的現像，這些反抗的年輕人和加入這種秘密組織的很多人，他們是在北京受的教育。</p>
					<p>李肅：實際上是中國上層要培養的少數民族幹部，從小讓他們到漢人的地方去上學，學習漢語，學習政治，但是他們接受教育以後反倒反抗得更堅決，這是為甚麼呢？</p>
					<p>李江琳：不是所有的都這樣。但是有一部份人，他們到內地參觀學習以後，他們才知道土改是怎麼回事，中共的社會改造是怎麼回事。這不僅是中共，也是漢人意識上的一個盲點。這個盲點就是我們認為這樣是最好的，別人勢必也認為這樣最好。</p>
					<p>這種社會改造的方式和結果導致這些年輕人中的一部份在完成了學習以後不但不接受，反而更加反對。有一部份在外面受過教育的人，他們回來以後反而成為反抗力量，參加了反抗活動。他們認為這不是我們藏人想要的未來。</p>
					<p>解說：上個世紀五十年代發生在西藏週邊藏區的暴力衝突給藏人和漢人的關係投下了巨大的陰影。圍困羅布林卡，阻攔達賴喇嘛前往西藏軍區司令部看演出，正是這些暴力衝突在西藏形成的必然結果。</p>
					<p>1959年3月發生的達賴喇嘛出走印度事件至今仍然讓藏漢雙方都耿耿於懷。究竟是甚麼促使達賴喇嘛作出了出走的決定？被中國軍隊消滅的數千名被稱為"叛匪"的人究竟是甚麼人？美國中央情報局是否參與策劃了達賴喇嘛的出走？《達賴喇嘛出走始末（下）》將為您解開這些謎團。</p>
				</section>
			</section>